@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/avenir-light.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 200;
  src: url('/static/fonts/avenir-normal.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/avenir-medium.woff') format('woff');
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 600;
  src: url('/static/fonts/avenir-bold.woff') format('woff');
}