@import "_fonts.scss";
@import "_reset.scss";

html,
body,
#__next {
  min-height: 100%;
  height: 100%;
  background-color: #262E3B;
}

* {
  outline: none !important;
}

a:hover {
  text-decoration: none !important;
}

.control-arrow {
  &:before {
    display: inline-block;
    border-top: 0 !important;
    border-bottom: 0 !important;
  }

  &:hover {
    background: none !important;
  }
}


.control-prev {
  left: 0;

  &:before {
    border-right: 0 !important;
    content: url('/static/images/left.svg') !important;

    @media (max-width:959.95px) {
      transform: scale(.5);

    }
  }
}

.control-next {
  right: 0;

  &:before {
    border-left: 0 !important;
    content: url('/static/images/right.svg') !important;

    @media (max-width:959.95px) {
      transform: scale(.5);

    }
  }
}

.crew-carousel {
  .slide {
    background: transparent !important;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -45px;
  visibility: hidden;
}

area {
  map {
    cursor: pointer !important;
  }
}